
main .card-header{
    background-color: none !important;
}
main .nav-link {
    border-radius: 20px !important;
    font-weight: bold;
    display: flex;
    align-items: center;    
}
main .nav-link , main .nav-link:hover{
    background-color: transparent !important;
    color: black;
}
main .nav-link.active{
    color: #31947b !important;
    background-color: #49b99d36 !important;

}
.link-container-div{
    background-color: #49b99d36;
    color: #49b99d;
    position: absolute;
    top: 0;
    z-index: -1;
    transition: all .1s ease-in-out;
    border-radius: 20px;
}
.link-container-div.show{
    opacity: 1;
}
main .nav.nav-tabs {
    position: relative;
}
main .nav-link .num{
    height: 20px;
    width: 20px;
    font-size: 0.825rem;
    justify-content: center;
    align-items: center;
    background-color: white !important;
}
main .nav-link.active .num{
    background-color: #31947b !important;
    color: white;
}
main .tab-content>.active{
    display: flex;
}

main .description{
    text-wrap: wrap;
    overflow: hidden;
    max-height: 40px;
}
.series-container .img-fluid{
    max-width: 250px;
   max-height: 250px;
}

.rate-container{
    color: #31947b;
}

.series-container .btn{
    border: 2px solid #31947b;
    background-color: #31947b;
    color: white;
  
}
.series-container .btn:hover{
    transition: all .2s ease-in-out;
    background-color: #18755d;
    border-color: #18755d;
    color: white;
}

/* dark Theme */
body.dark main .card-header .nav-tabs .nav-link{
    color: white;
}
body.dark main .card-header .nav-tabs .nav-link .num{
    color: #1e1e1e;
}
body.dark main .card-header .nav-tabs .nav-link.active .num{
    color: white;
}
body.dark main .tab-pane .card{
    background-color: #1e1e1e;
}
body.dark main .tab-pane .card-body{
    background-color: #1e1e1e !important;
    color: white;
}