.videoCover{
    z-index: 2;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.202);
    height: calc(100% - 5px) !important;
}
.videoCover.hide{
    display: none !important;
}
.videoCover .rounded-circle{
    width: 60px;
    height: 60px;
}
#Tabs .nav-link.active{
    color: #198754 !important;
    background-color: #19875427 !important;
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
}
.avtr-md{
    width: 2.5rem;
    height: 2.5rem;
}