.level-container{
    border-radius: 10px;
    overflow: hidden;
}
.level-container .level{
    background-color: #49b99d4a;
    color: #298570 !important;
    border-radius: 20px;
}
.text-muted{
    color: #8b949f !important;
}
.progress{
    height: 3px;
    background-color: rgba(75, 185, 158 , .1) !important;
}
.progress-bar{
    background-color: #49b99d;
}
main .btn{
    border-radius: 20px;
}
html[dir="rtl"] main .btn i{
    transform: rotate(180deg);
}
body.dark main  .card{
    background-color: #1e1e1e;
}
body.dark main .card-body{
    background-color: #1e1e1e !important;
    color: white;
}
body.dark main .card-title span{
    color: white !important;
}