.level-container{
    border-radius: 10px;
    overflow: hidden;
}
.intro-div{
    position: relative;
    overflow: hidden;
    background-color: #1e293b;
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}
.intro-div svg{
    position: absolute;
    left: 0;
    right: 0 ;
    top: 0;
}
.text-gray-700 {
    opacity: 1 !important;
    color: rgb(51 ,65 ,85 );
}
.level-container .level{
    background-color: #49b99d4a;
    color: #298570 !important;
    border-radius: 20px;
}
.text-muted{
    color: #8b949f !important;
}
.progress{
    height: 3px;
    background-color: rgba(75, 185, 158 , .1) !important;
}
.progress-bar{
    background-color: #49b99d;
}
main .btn{
    border-radius: 20px;
}
html[dir="rtl"] main .btn i{
    transform: rotate(180deg);
}
body.dark main  .card{
    background-color: #1e1e1e;
}
body.dark main .card-body{
    background-color: #1e1e1e !important;
    color: white;
}
body.dark main .card-title span{
    color: white !important;
}