html{
    height: 100vh;
}
@font-face {
    font-family: 'Roboto';
    src: url('../../Assests/Roboto-Regular.ttf');
}
body{
    min-height: 100%;
    font-family: 'Roboto';
    background-color: #fafafa;
    z-index: 1;
}
.rounded-4{
    border-radius: 8px;
}
.main-font{
    font-size: 0.925rem;
}
.main-font2{
    font-size: 0.825rem;
}
/* Header Section */
header{
    height: 66px ;
    position: fixed;
    top: 0;
    left: 250px;
    right: 0;
    background-color: white;
    display: flex;
    align-items: center;
    padding:8px 1rem ;
    transition: all .3s ease-in-out;
    z-index: 3;
}

header .menu-btn{
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: relative;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}
header .menu-btn:hover{
    background-color: rgba(75, 185, 158 , .1);
}
header .menu-btn .ripple{
    background-color: rgba(75, 185, 158 , .3) !important ;
}

header .menu-btn span{
    position: relative;
    width: 20px;
    height: 0px;
    border: 2px solid #49b99d;
    display: block;
    left: 0;
    right: 0;
    background-color: #49b99d;
}
header .menu-btn span:first-child{
    top: 12px;
}
header .menu-btn span:nth-child(3){
    bottom: 12px;
}

header .mode-switch ,  .header-balance{
    width: 60px;
    border-radius: 20px;
    height: 30px;
    background-color: #eeeeee;
    padding: 2.5px;
    cursor: pointer;
}
.header-balance{
    display: flex;
    align-items: center;
    padding-right: 5px !important;
    color: black;
    width: 70px !important;
    font-weight: bold;
    font-size: 12px;
    justify-content: center !important;
}
.header-balance i{
    color: black !important;
    font-size: 15px;
}
header .mode-switch .switch-circle , .balance-circle{
    height: 100%;
    width: 25px;
    background-color: white;
    position: relative;
    transition: all .3s ease-in-out;
}
.balance-circle{
    right: auto;
    left: 0;
    margin-right: auto;
}
.switch-circle-move{
    margin-left: 30px !important;
    margin-right: 0px !important;
}

.noti-icon-container{
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.noti-icon-container:hover{
    background-color: #c2c2c221
}
.noti-container{
    width: 100%;
    max-width: 350px;
    right: 20px;
    top: 100%;
    
}
.custom-dropdown{
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    transform: scale(0.8);
    transform-origin: top right;
    transition: all .2s ease-in-out;
}
.custom-dropdown.show{
    transform: scale(1);
    z-index: 20;
    opacity: 1;
    visibility: visible;
}
header .card-header{
    background-color: white !important;
    border-bottom: 0px;
}
header .nav-tabs .nav-link{
    background: none;
    background-color: white !important;
    color: #868686;
    border-bottom: 1px solid #e2e2e2 !important;
}
header .border-div{
    position: absolute;
    width: 50%;
    top: 100%;
    left: 0;
    transition: all .3s ease-in-out;
    height: 2px;
    background-color: #49b99d;
}
header .lang{
    background-color: #e2e2e2;
    height: 30px;
    border-radius: 20px;
}
header .lang-container{
    width: 100%;
    top: 100%;
    right:210px;
    width: 170px;
   
}
header .lang .custom-dropdown li:hover{
    background-color: #c2c2c221;
}
/* Aside Section */

aside{
    position: fixed;
    top: 0;
    height: 100%;
    width: 250px;
    left: 0;
    z-index: 4;
    background-color: white;
    transition: all .3s;
    overflow: auto;
    transition: all .3s ease-in-out;
    border-right: 1px solid rgba(32, 32, 32, 0.12);
    border-left: 1px solid rgba(32, 32, 32, 0.12);

}
aside .logo-container{
    background-image: url('../../Assests/finalLogoBlack.png');
    height: 40px; 
    width: 60%;
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: left center;
}
aside .close-aside-btn{
    cursor: pointer;
    height: 30px;
    width: 30px;
    font-size: 10px;
}
aside .close-aside-btn:hover{
    background-color: #c2c2c221;
}
aside .settings{
    width: 100%;

}
aside .settings .custom-dropdown{
    background-color: white;
}
aside .settings .custom-dropdown li:hover{
    background-color: #c2c2c221;
}
aside .settings p{
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
}
aside .settings .menu-link:hover{
    background-color: #c2c2c221;
}
aside .nav-item a{
    transition: all .2s ease-in-out;
}
aside .nav-item:not(.settings) .menu-link:hover ,aside .nav-item.selected .menu-link{
    background-color:#49b99d1c;
    color: #35675b !important;
}
aside .nav-item:not(.settings) .menu-link .ripple{
    background-color:#49b99d1c;
    color: #35675b !important;
}
.main-link:not(.collapsed) .fa-chevron-down{
    transform: rotate(180deg);
}


/* main */
main {
    padding-top: 80px;
    right: 0;
    margin-left: 250px;
    transition: all .3s ease-in-out;
}


/* collapesd side bar */

body.collapsed header{
    left: 0;
}
body.collapsed aside{
    left: -250px;
}
body.collapsed main{
    margin-left: 0px;
}
body.collapsed .menu-btn{
    display: flex;
}

/* Dark theme */

body.dark{
    background-color:#121212;
}
body.dark aside .logo-container{
    background-image: url('../../Assests/finalLogo.png');
}
body.dark header{
    background-color: #1e1e1e;
}
body.dark header .mode-switch,body.dark header .header-balance{
    background-color: #121212;
}
body.dark header .header-balance{
    color: white;
}
body.dark header .lang .custom-dropdown{
    color: white;
}
body.dark header .lang{
    color: white;
    background-color: #121212;
}
body.dark header .noti-icon-container{
    color: white;
}
body.dark .page-title{
    color: white;
}
body.dark aside{
    background-color: #121212;
}
body.dark aside .menu-link{
    color: white !important;
}
body.dark .aside-header{
    color: white;
}
body.dark .close-aside-btn{
    color: #868686;
}
body.dark .custom-dropdown{
    background-color: #2f2f2f;
}
body.dark aside .custom-dropdown .nav-item{
    color: white !important;
}
body.dark aside .nav-item:not(.settings) .menu-link:hover,body.dark aside .nav-item.selected .menu-link {
    background-color: #49b99d1c;
    color: white !important;
}


/* Right to Left */


html[dir="rtl"] .switch-circle-move {
    margin-right: 30px !important;
    margin-left: 0px !important;
}
html[dir="rtl"] aside{
    right: 0px;
}
html[dir="rtl"] body.collapsed aside{
    right: -250px;
}
html[dir="rtl"] body header{
    right: 250px;
    left: 0;
}
html[dir="rtl"] main{
    margin-right: 250px;
    margin-left: 0px;
}
html[dir="rtl"] body.collapsed main{
    
    margin-right: 0px;
}
html[dir="rtl"] body.collapsed header{
    right: 0;
}
html[dir="rtl"] .custom-dropdown{
    transform-origin: left top;
}
html[dir="rtl"] .noti-container{
    left: 20px;
    right: auto;
}
html[dir="rtl"] .lang-container{
    left: 210px;
    right: auto;
}


@media screen and (max-width : 450px){
    body header{
        right: 0px !important;
        left: 0px !important;
    }
    main {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .shadow-bg{
        background-color: rgba(32, 32, 32, 0.12);
        position: fixed;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 3;
    }
    body.collapsed .shadow-bg{
        display: none;
    }
   header .lang-container{
        left: 0 !important;
        right: 0 !important;
        width: 100%;

    }
    header .noti-container{
        left: 0 !important;
        right: 0 !important;
        width: 100%;
        margin-left: auto !important;
  margin-right: auto !important;
    }
}